/* 
    Document   : main_style
    Created on : 08.10.2011, 11:24:56
    Author     : mihail
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.block{
    padding: 20px;
}